<items>
 
<item>
<title>[COLOR=gold]|~~~~~  [bold]Digitally Imported FM[/bold]  ~~~~~| - see www.di.fm for more info[/COLOR]</title>
<link></link>
<thumbnail>https://raw.githubusercontent.com/alfreddempsey3/repository.rage/master/addonpics/download.png</thumbnail>
</item>
 
<item>
<title>[COLOR=yellow]Ambient[/COLOR] - athmospheres to take you deeper</title>
<link>http://pub1.diforfree.org:8000/di_ambient_hi</link>
<thumbnail>https://raw.githubusercontent.com/alfreddempsey3/repository.rage/master/addonpics/b3e4efa7dfd7e6d444ec42f1944aa7b6.jpg</thumbnail>
</item>
 
<item>
<title>[COLOR=yellow]Big Room House[/COLOR] - House music styles yesterday and today</title>
<link>http://pub1.diforfree.org:8000/di_bigroomhouse_hi</link>
<thumbnail>https://raw.githubusercontent.com/alfreddempsey3/repository.rage/master/addonpics/big_room_house_wallpaper_by_wessartmedia-d84vsxj-300x300.jpg</thumbnail>
</item>
 
<item>
<title>[COLOR=yellow]Classic Trance[/COLOR] - re-live the best of Trance</title>
<link>http://pub1.diforfree.org:8000/di_classictrance_hi</link>
<thumbnail>https://raw.githubusercontent.com/alfreddempsey3/repository.rage/master/addonpics/trance_typo_by_morthiasik.jpg</thumbnail>
</item>
 
<item>
<title>[COLOR=yellow]Club Dubstep[/COLOR] - the best of club proven Dubstep</title>
<link>http://pub1.diforfree.org:8000/di_clubdubstep_hi</link>
<thumbnail>https://raw.githubusercontent.com/alfreddempsey3/repository.rage/master/addonpics/145e092c672e22250e1f223b6fcaa677.jpg</thumbnail>
</item>
 
<item>
<title>[COLOR=yellow]Deep House[/COLOR] - deep house beats</title>
<link>http://pub2.diforfree.org:8000/di_deephouse_hi</link>
<thumbnail>https://raw.githubusercontent.com/alfreddempsey3/repository.rage/master/addonpics/i-love-house-music-wallpapers-wallpaper-cave-1920x1080.jpg</thumbnail>
</item>
 
<items>
