<items>
        <item>
        <title>[COLOR=gold]Info[/COLOR]</title>
        <link>msg~"title":"Globe Radio","msg":"Radio from around the Planet"</link>
        <thumbnail>https://pix.avaxnews.com/avaxnews/8c/f2/0000f28c_big.jpeg</thumbnail>
        </item>
        
        <item>
        <title>[COLOR=dodgerblue]Radio Stations[/COLOR]</title>
        <link>https://github.com/tdbnz123/Music-Radio-Addon/raw/master/Files/radio/menu/1.0.xml</link>
        <thumbnail>http://www.iconsfind.com/wp-content/uploads/2016/04/20160406_57047879ab121.png</thumbnail>
        </item>
        


</items>
